<div
    class="dm-template dm-grid grid6-{{ component_id }}"
    {% if wp_mode %}
        dm-template="grid.grid6"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="grid column-4">
        <div class="container">
            <h1 
                {% if edit_mode %}
                    text-editing
                    ng-model="data.title"
                {% else %}
                    style="color: {{ title.style.color }};
                           font-family: {{ attribute(title.style, 'font-family') }};"
                    class="font-size-{{ attribute(title.classes, 'font-size') }}
                           line-height-{{ attribute(title.classes, 'line-height') }}"
                {% endif %}>
                {{ title.content }}
            </h1>
            <p
                {% if edit_mode %}
                    class="hero"
                    text-editing
                    ng-model="data.hero"
                {% else %}
                    style="color: {{ hero.style.color }};
                           font-family: {{ attribute(hero.style, 'font-family') }};"
                    class="hero font-size-{{ attribute(hero.classes, 'font-size') }}
                           line-height-{{ attribute(hero.classes, 'line-height') }}"
                {% endif %}>
                {{ hero.content }}
            </p>
            <ul>
                {% if edit_mode %}
                    <li ng-repeat="grid_item in data.grid">
                        <div
                            class="image dm-controlsView-holder"
                            ng-style="{'background-image': 'url({{ pluginUrl }}' + grid_item.bg_image + ')'}">
                            <div class="dm-controls dm-controlsView-btns" data-html2canvas-ignore ng-class="{'hide-opacity-widget': !grid_item.bg_image || data.bg_image == 'img/1x1.png'}">
                                <div class="btn-group">
                                    <div class="dm-control-button" dm-remove-media="grid_item.bg_image"></div>
                                    <div class="dm-control-button" dm-upload-media="grid_item.bg_image"></div>
                                </div>
                            </div>
                        </div>
                        <h3
                            text-editing
                            text-editing-exclude="[link]"
                            ng-model="grid_item.sub_title"></h3>
                        <p
                            text-editing
                            text-editing-exclude="[link]"
                            ng-model="grid_item.text"></p>
                        <a
                            ng-href="[[ grid_item.link.url ]]"
                            dm-contenteditable
                            ng-model="grid_item.link.name">
                            <customizer class="dm-popover popover fade top">
                                <span class="dm-control-button" dm-edit-url="grid_item.link.url"></span>
                            </customizer>
                        </a>
                    </li>
                {% else %}
                    {% for grid_item in grid %}
                        <li>
                            <a href="{{ grid_item.link.url }}">
                                <div class="image" style="background-image: url({{ pluginUrl }}{{ grid_item.bg_image }})"></div>
                                <h3
                                    style="color: {{ grid_item.sub_title.style.color }};
                                           font-family: {{ attribute(grid_item.sub_title.style, 'font-family') }};"
                                    class="font-size-{{ attribute(grid_item.sub_title.classes, 'font-size') }}
                                           line-height-{{ attribute(grid_item.sub_title.classes, 'line-height') }}">{{ grid_item.sub_title.content }}</h3>
                                <p
                                    style="color: {{ grid_item.text.style.color }};
                                           font-family: {{ attribute(grid_item.text.style, 'font-family') }};"
                                    class="font-size-{{ attribute(grid_item.text.classes, 'font-size') }}
                                           line-height-{{ attribute(grid_item.text.classes, 'line-height') }}">{{ grid_item.text.content }}</p>
                                <span>{{ grid_item.link.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>
</div>