<div
    class="dm-template dm-footer footer4-{{ component_id }}"
    {% if wp_mode %}
        dm-template="footer.footer4"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="footer dm-controlsView-holder">
        <div
            class="container"
            {% if edit_mode %}
                ng-style="{'background-color': data.bg_color}"
            {% else %}
                style="background-color: {{ bg_color }}"
            {% endif %}>
            {% if edit_mode %}
            <div class="dm-controls dm-controlsView-btns dm-controlsView-wide" data-html2canvas-ignore>
                <div class="btn-group">
                    <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
                </div>
            </div>
            {% endif %}
            <p
                {% if edit_mode %}
                    text-editing
                    ng-model="data.text"
                {% else %}
                    style="color: {{ text.style.color }};
                           font-family: {{ attribute(text.style, 'font-family') }};"
                    class="font-size-{{ attribute(text.classes, 'font-size') }}
                           line-height-{{ attribute(text.classes, 'line-height') }}"
                {% endif %}>
                {{ text.content }}
            </p>
        </div>
    </section>
</div>