<div
    class="dm-template dm-image image7-{{ component_id }}"
    {% if wp_mode %}
        dm-template="image.image7"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="image small description">
        {% if edit_mode %}
            <div class="img-wrapper custom-img">
                <customizer class="dm-popover popover fade top dm-popover-image">
                    <div class="dm-control-button" data-width="1500" dm-upload-type="image" dm-upload-media="data.image"></div>
                </customizer>
                <img ng-src="{{ pluginUrl }}[[ data.image ]]" alt="Name" />
            </div>
        {% else %}
            <img src="{{ pluginUrl }}{{ image }}" alt="Name"/>
        {% endif %}
        <p 
            {% if edit_mode %}
                text-editing
                ng-model="data.text"
            {% else %}
                style="color: {{ text.style.color }};
                       font-family: {{ attribute(text.style, 'font-family') }};"
                class="font-size-{{ attribute(text.classes, 'font-size') }}
                       line-height-{{ attribute(text.classes, 'line-height') }}"
            {% endif %}>
            {{ text.content }}
        </p>
    </section>
</div>