<div
    class="dm-template dm-footer footer3-{{ component_id }}"
    {% if wp_mode %}
        dm-template="footer.footer3"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="footer logo">
        <div class="container">
            {% if edit_mode %}
            <div class="img-wrapper custom-img">
                <a href="[[ data.url ]]" class="brand">
                    <customizer class="dm-popover popover fade top">
                        <div class="dm-control-button" data-width="300" dm-upload-type="image" dm-upload-media="data.image"></div>
                        <div class="dm-control-button" dm-edit-url="data.url"></div>
                    </customizer>
                    <img alt="Designmodo" height="25" ng-src="{{ pluginUrl }}[[ data.image ]]"/>
                </a>
            </div>
            {% else %}
            <a href="{{ url }}" class="brand">
                <img 
                    alt="Designmodo"
                    height="25"
                    src="{{ pluginUrl }}{{ image }}"  />
            </a>
            {% endif %}
        </div>
    </section>
</div>