<div
    class="dm-template dm-subscribe subscribe2-{{ component_id }}"
    {% if wp_mode %}
        dm-template="subscribe.subscribe2"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="subscribe">
        <div class="container">
            <p
                {% if edit_mode %}
                    class="hero"
                    text-editing
                    ng-model="data.hero"
                {% else %}
                    style="color: {{ hero.style.color }};
                           font-family: {{ attribute(hero.style, 'font-family') }};"
                    class="hero font-size-{{ attribute(hero.classes, 'font-size') }}
                           line-height-{{ attribute(hero.classes, 'line-height') }}"
                {% endif %}>
                {{ hero.content }}
            </p>
            <form action="" method="post" novalidate>
                <script type="text/javascript">
                    if(!subscribeData) {
                        var subscribeData = {{ subscription_form_messages|json_encode() }}
                    }
                </script>
                <input placeholder="your e-mail" name="qards_subscribe[email]" type="email">
                {% if edit_mode %}
                    <span class="submit">
                        <span dm-contenteditable contenteditable="true" ng-model="data.button">{{ button }}</span>
                    </span>
                {% else %}
                    <button class="submit" type="submit">{{ button }}</button>
                {% endif %}
            </form>
        </div>
    </section>
</div>