<div
    class="dm-template dm-feature feature9-{{ component_id }}"
    {% if wp_mode %}
        dm-template="feature.feature9"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="feature horisontal">
        <div class="container">
            <ul>
                <li>
                    <div class="image-container">
                        {% if edit_mode %}
                            <div class="img-wrapper custom-img">
                                <customizer class="dm-popover popover fade top dm-popover-image">
                                    <div class="dm-control-button" data-width="1200" dm-upload-type="image" dm-upload-media="data.image"></div>
                                </customizer>
                                <img ng-src="{{ pluginUrl }}[[ data.image ]]" alt="" />
                            </div>
                        {% else %}
                            <img src="{{ pluginUrl }}{{ image }}" alt="Name"/>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="text-container">
                        <h1 
                            {% if edit_mode %}
                                text-editing
                                ng-model="data.title"
                            {% else %}
                                style="color: {{ title.style.color }};
                                       font-family: {{ attribute(title.style, 'font-family') }};"
                                class="font-size-{{ attribute(title.classes, 'font-size') }}
                                       line-height-{{ attribute(title.classes, 'line-height') }}"
                            {% endif %}>
                            {{ title.content }}
                        </h1>
                        <p
                            {% if edit_mode %}
                                class="hero"
                                text-editing
                                ng-model="data.hero"
                            {% else %}
                                style="color: {{ hero.style.color }};
                                       font-family: {{ attribute(hero.style, 'font-family') }};"
                                class="hero font-size-{{ attribute(hero.classes, 'font-size') }}
                                       line-height-{{ attribute(hero.classes, 'line-height') }}"
                            {% endif %}>
                            {{ hero.content }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>