<div
    class="dm-template dm-footer footer6-{{ component_id }}"
    {% if wp_mode %}
        dm-template="footer.footer6"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="footer logo dm-controlsView-holder">
        <div
            class="container"
            {% if edit_mode %}
                ng-style="{'background-color': data.bg_color}"
            {% else %}
                style="background-color: {{ bg_color }}"
            {% endif %}>
            {% if edit_mode %}
            <div class="dm-controls dm-controlsView-btns dm-controlsView-wide" data-html2canvas-ignore>
                <div class="btn-group">
                    <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
                </div>
            </div>
            <div class="img-wrapper custom-img">
                <customizer class="dm-popover popover fade top">
                    <div class="dm-control-button" data-width="300" dm-upload-type="image" dm-upload-media="data.image"></div>
                    <div class="dm-control-button" dm-edit-url="data.url"></div>
                </customizer>
                <a href="[[ data.url ]]" class="brand">
                    <img 
                        alt="Designmodo"
                        height="25"
                        ng-src="{{ pluginUrl }}[[ data.image ]]" />
                </a>
            </div>
            {% else %}
            <a href="{{ url }}" class="brand">
                <img 
                    src="{{ pluginUrl }}{{ image }}" 
                    alt="Designmodo"
                    height="25" />
            </a>
            {% endif %}
        </div>
    </section>
</div>