<div
    class="dm-template dm-footer footer5-{{ component_id }}"
    {% if wp_mode %}
        dm-template="footer.footer5"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="footer dm-controlsView-holder">
        <div
            class="container"
            {% if edit_mode %}
                ng-style="{'background-color': data.bg_color}"
            {% else %}
                style="background-color: {{ bg_color }}"
            {% endif %}>
            {% if edit_mode %}
            <div class="dm-controls dm-controlsView-btns dm-controlsView-wide" data-html2canvas-ignore>
                <div class="btn-group">
                    <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
                </div>
            </div>
            {% endif %}
            {% if edit_mode %}
                <div class="footer-holder">
            {% endif %}
            {% macro render_one_line_menu_with_btn(items) %}
                <ul class="items">
                    {% for item in items %}
                        <li>
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endmacro %}
            {% if wp_mode %}
                {{ _self.render_one_line_menu_with_btn(mainMenu.items) }}
                {% if edit_mode %}
                <customizer class="dm-popover top">
                    <div class="dm-control-button" dm-external-nav="{{ menuEditPageUriPattern|format(mainMenu.id) }}"></div>
                </customizer>
                {% endif %}
            {% else %}
                {{ _self.render_one_line_menu_with_btn(menu) }}
            {% endif %}
            {% if edit_mode %}
                </div>
            {% endif %}
        </div>
    </section>
</div>