<div
    class="dm-template dm-text text1-{{ component_id }}"
    {% if wp_mode %}
        dm-template="text.text1"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="text">
        <div class="container">
            <h1 
                {% if edit_mode %}
                    text-editing
                    ng-model="data.title"
                {% else %}
                    style="color: {{ title.style.color }};
                           font-family: {{ attribute(title.style, 'font-family') }};"
                    class="font-size-{{ attribute(title.classes, 'font-size') }}
                           line-height-{{ attribute(title.classes, 'line-height') }}"
                {% endif %}>
                {{ title.content }}
            </h1>
            <p 
                {% if edit_mode %}
                    class="hero"
                    text-editing
                    ng-model="data.hero"
                {% else %}
                    style="color: {{ hero.style.color }};
                           font-family: {{ attribute(hero.style, 'font-family') }};"
                    class="hero font-size-{{ attribute(hero.classes, 'font-size') }}
                           line-height-{{ attribute(hero.classes, 'line-height') }}"
                {% endif %}>
                {{ hero.content }}
            </p>
            <p 
                {% if edit_mode %}
                    text-editing
                    ng-model="data.text"
                {% else %}
                    style="color: {{ text.style.color }};
                           font-family: {{ attribute(text.style, 'font-family') }};"
                    class="font-size-{{ attribute(text.classes, 'font-size') }}
                           line-height-{{ attribute(text.classes, 'line-height') }}"
                {% endif %}>
                {{ text.content }}
            </p>
        </div>
    </section>
</div>