<div
    class="dm-template dm-controlsView-holder dm-cover cover2-{{ component_id }}"
    {% if wp_mode %}
        dm-template="cover.cover2"
        component-id="{{ component_id }}"
    {% endif %}>
    <section
        class="cover parallax"
        {% if edit_mode %}
            ng-style="{'background-color': data.bg_color}"
        {% else %}
            style="background-color: {{ bg_color }}"
        {% endif %}>
        {% if edit_mode %}
        <div class="dm-controls dm-controlsView-btns dm-controlsView-wide" data-html2canvas-ignore ng-class="{'hide-opacity-widget': !data.bg_image || data.bg_image == 'img/1x1.png'}">
            <div class="btn-group">
                <div class="dm-control-button" dm-remove-media="data.bg_image"></div>
                <div class="dm-control-button" dm-upload-media="data.bg_image"></div>
                <div class="dm-control-button" dm-opacity="data.opacity" dm-gradient="data.bg_color"></div>
                <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="holder">
                <div class="content">
                    <h1 
                        {% if edit_mode %}
                            text-editing
                            ng-model="data.title"
                        {% else %}
                            style="color: {{ title.style.color }};
                                   font-family: {{ attribute(title.style, 'font-family') }};"
                            class="font-size-{{ attribute(title.classes, 'font-size') }}
                                   line-height-{{ attribute(title.classes, 'line-height') }}"
                        {% endif %}>
                        {{ title.content }}
                    </h1>
                    <p
                        {% if edit_mode %}
                            class="hero"
                            text-editing
                            ng-model="data.text"
                        {% else %}
                            style="color: {{ text.style.color }};
                                   font-family: {{ attribute(text.style, 'font-family') }};"
                            class="hero font-size-{{ attribute(text.classes, 'font-size') }}
                                   line-height-{{ attribute(text.classes, 'line-height') }}"
                        {% endif %}>
                        {{ text.content }}
                    </p>
                    {% if edit_mode %}
                        <span class="button stroke" href="{{ button.url }}" ng-href="[[ data.button.url ]]">
                            <span dm-contenteditable contenteditable="true" ng-model="data.button.name">
                                {{ button.name }}
                            </span>
                            <customizer class="dm-popover popover fade top">
                                <span class="dm-control-button" dm-edit-url="data.button.url"></span>
                            </customizer>
                        </span>
                    {% else %}
                        <a class="button stroke" href="{{ button.url }}">
                            {{ button.name }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if edit_mode is empty %}
            <div class="background-wrapper">
        {% endif %}
        <div
            class="background"
            {% if edit_mode %}
                ng-style="{
                    'background-image': 'url({{ pluginUrl }}' + data.bg_image + ')',
                    'opacity': data.opacity
                }"
            {% else %}
                style="background-image: url({{ pluginUrl }}{{ bg_image }}); opacity: {{ opacity }}"
            {% endif %}></div>
        {% if edit_mode is empty %}
            </div>
        {% endif %}
    </section>
</div>