<div
    class="dm-template dm-text text7-{{ component_id }}"
    {% if wp_mode %}
        dm-template="text.text7"
        component-id="{{ component_id }}"
    {% endif %}>
    <section class="text">
        <div class="container">
            <p 
                {% if edit_mode %}
                    text-editing
                    ng-model="data.text"
                {% else %}
                    style="color: {{ text.style.color }};
                           font-family: {{ attribute(text.style, 'font-family') }};"
                    class="font-size-{{ attribute(text.classes, 'font-size') }}
                           line-height-{{ attribute(text.classes, 'line-height') }}"
                {% endif %}>
                {{ text.content }}
            </p>
        </div>
    </section>
</div>