<div
    class="dm-template dm-menu menu1-{{ component_id }}"
    {% if wp_mode %}
        dm-template="menu.menu1"
        component-id="{{ component_id }}"
    {% endif %}>
    <nav class="menu column-1 sticky">
        <ul class="sections">
            <li class="center logo">
                <a
                    href="{{ brand.url }}"
                    {% if edit_mode %}
                        ng-href="[[ data.brand.url ]]"
                    {% endif %}>
                    {% if edit_mode %}
                    <div class="img-wrapper custom-img">
                        <customizer class="dm-popover top">
                            <div class="dm-control-button" data-width="300" dm-upload-type="image" dm-upload-media="data.brand.image"></div>
                            <div class="dm-control-button" dm-edit-url="data.brand.url"></div>
                        </customizer>
                        <img 
                            alt="Designmodo"
                            height="25"
                            ng-src="{{ pluginUrl }}[[ data.brand.image ]]"/>
                    </div>
                    {% else %}
                    <img 
                        alt="Designmodo"
                        height="25"
                        src="{{ pluginUrl }}{{ brand.image }}"  />
                    {% endif %}
                </a>
            </li>
        </ul>
    </nav>
</div>